/* Off Canvas Menu */
.section {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    overflow: visible;
}

.container {
    justify-content: flex-start;
    /* min-height: 200px; */
    padding: 3rem;
    background-color: rgb(54, 185, 174);
    
}
.off-canvas-menu {
    position: relative;
    left: -248.5px;
    width: 0%;
    background-color: #444;
    padding: 3rem 0;
    transition: all .2s;
}

.off-canvas-menu > nav > .menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    min-height: 240px;
}

.off-canvas-menu>nav>.menu>.menu-item {
    flex: 1 0 100%;
    overflow: hidden;
}

.off-canvas-menu>nav>.menu>.menu-item>.link {
    display: inline-block;
    width: 100%;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 1;
    padding: 1rem 3rem;
    border-bottom: 1px solid #555;
    transition: ease-in-out .2s;
}

.off-canvas-menu>nav>.menu>.menu-item>.link:hover {
    background-color: #111;
}

/* Menu Toggle Button */
.container {
   width: 100%;
    display: flex;
    flex-direction:  column;
}

.section-header {
    font-size: 2.4rem;
    line-height: 3.6rem;

}

.menu-toggle-button {
    max-width: 10rem;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 1rem 2rem;
    background-color: #444;
    border: 1px solid #666;
    transition: ease-in-out .2s;
    border-radius: 5px;
}

.menu-toggle-button:hover {
    color: rgb(54, 185, 174);
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    outline: 3px solid rgb(96, 146, 238);
}